:root {
  --primary-color: #6a1b9a;
  --secondary-color: #ab47bc;
  --hover-color: #8e24aa;
  --white-color: #ffffff;
}

.app-bar {
  width: 100%;
  background-color: var(--primary-color);
}

.toolbar-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; /* Allow wrapping */
}

.title {
  flex-grow: 1;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap; /* Allow wrapping */
}

.nav-button {
  margin: 0 8px; /* Add margin for spacing */
}

.text-field {
  margin-right: 16px;
  background-color: var(--white-color);
  border-radius: 4px;
}

.username {
  margin-right: 8px;
}