{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "jsxBracketSameLine": true,
    "tabWidth": 2,
    "printWidth": 80,
    "bracketSpacing": true,
    "plugins": ["prettier-plugin-organize-imports"],
    "importOrder": ["^react$", "^react/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
  }